.layui-footer{
    text-align: center;
    font-size: 12px;
}

.iconfont{
    margin-right: 8px;
}

.layui-icon{
    margin-right: 8px;
    margin-left: 20px;
}

/* 定义iframe的宽高 */
iframe{
    width: 100%;
    height: 100%;
}
/* iframe右侧有滚动条,与layui样式重复，所有设置溢出隐藏 */
.layui-body{
    overflow: hidden;
}

/* 头像样式 */
.userinfo{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    /* 禁止被选中 */
    user-select: none;
}
/* 左侧头像边框 */
.layui-side-scroll .userinfo{
    border: 1px solid #282b33;
}
/* 将layui头像大小与文字头像大小一样 */
.layui-nav-img{
    width: 40px;
    height: 40px;
}
/* 文字头像 */
.text-avater{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

